.header-tabs .ant-tabs-nav {
    padding: 3px 10px;
    margin: 8px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.header-tabs .ant-tabs-nav .ant-tabs-tab {
    font-size:0.75rem;
    font-weight: 500;
    color: #1C2526; 
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-tabs .ant-tabs-nav .ant-tabs-tab:hover {
    background-color: #f5f5f5;
    color: #007bff;
}

.header-tabs .ant-tabs-nav .ant-tabs-tab-active {
    background-color: white;
    color: #1C2526 !important;
    border-radius: 8px;
    font-weight: 600;
}

.header-tabs .ant-tabs-nav .ant-tabs-tab:last-child {
    margin-right: 0;
}

.header-tabs .ant-tabs-nav .ant-tabs-tab-disabled {
    color: #ccc;
}

.header-tabs .ant-tabs-content {
    padding: 20px;
    margin: 0px 10px 10px 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
