.scrollContainer {
  height: calc(100vh - 105px);
  overflow-y: auto;
  padding: 20px;
  margin: 15px 15px 15px 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 30px);
}

.collapseContainer {
  margin-bottom: 20px;
}

