.info-display {
    padding: 16px;
    background: #fff;
  }
  
  .info-row {
    align-items: center;
  }
  
  .info-label {
    font-size: 0.75rem;
    font-weight: 400;
    color: #8c8c8c;
  }
  
  .info-value {
    font-size: 0.75rem;
    font-weight: 500;
    color: #141414;
  }
  
  .info-divider {
    margin: 12px 0; 
    background: #e8e8e8; 
  }

.custom-allowance-table .ant-table-thead > tr > th {
  font-size: 0.75rem !important; /* Đặt font size cho tiêu đề */
  font-weight: 500; /* Tùy chọn, giữ trọng số phù hợp */
  color: #141414; /* Tùy chọn, giữ màu tương tự nội dung */
}

.custom-allowance-table .ant-table-tbody > tr > td {
  font-size: 0.75rem !important; /* Đặt font size cho nội dung */
  font-weight: 400; /* Tùy chọn, giữ trọng số phù hợp */
  color: #141414; /* Tùy chọn, giữ màu tương tự tiêu đề */
}

/* Đảm bảo các ô trong bảng không bị cắt */
.custom-allowance-table .ant-table-cell {
  white-space: nowrap; /* Ngăn ngắt dòng tự động */
  overflow: hidden;
  text-overflow: ellipsis; /* Thêm dấu ... nếu nội dung bị cắt */
}